@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #1f2833;
}

.navigator{
    position: fixed;
    top: 0%;
    width: 100%;
    background: #1f2833;
    z-index: 2;
    box-shadow: #1f2833;
    font-weight: 600;
}
.Snapshot{
    color: #66fcf1;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.Snapshoit{
    color: #66fcf1;
}
.litem{
    list-style: none;
}
.ulitem{

}
.choosefile{
    width: 100%;
    display: flex;
    justify-content: center ;
    align-content: center;
    align-items: center;
    border-radius: 50px;
}
.hover :hover{
    transform: scale(1.1);
    transition: all ease 0.2s;
}

.colorButton{
    background: #66fcf1;
}
.comment{
    background: #36383b;
    color: white;
}
.spacer{
    margin-left: 60px;
    font-size: 15px;
}